<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">


    <title>Mediscreen</title>
<style>

h2{
 font-family: "Sofia", sans-serif;
  font-size: 30px;
  text-shadow: 3px 3px 3px #ababab;
}

 .col-6 {
 margin-top:20px;

font-size:18px;
    }

th{
 font-family: "Sofia", sans-serif;
  text-align: center;
  font-size:16px;
}

.btn{
margin-bottom: 5px;
}

.form-control{
display: inline;
width:190px;
}

</style>
</head>
<body>
<div class="container">
    <div class="col-6" align="right">
        <a href="/patients">Patients</a>&nbsp;|&nbsp;
        <a href="/assess">Rapports</a>&nbsp;|&nbsp;
    </div>
    <div class="row"><h2 align="center">Notes</h2></div>
    <div class="row" >

        <a class="btn btn-primary"  href="insertNewNote" role="button" >Nouvelle note</a>
        <input class="form-control"  id="search" type="text" placeholder="Recherche par matricule">
        <br>
        <table class="table table-bordered" data-search="true">
            <thead>
            <tr>

                <th>Date</th>
                <th data-field="${notes.patId}"
                    data-sortable="true">Matricule</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr th:each="notes : ${list}">
                <td hidden th:text="${notes.id}"></td>
                <td width="90" th:text="${notes.dateNote}"></td>
                <td  th:text="${notes.patId}"></td>
                <td th:text="${notes.note}"></td>

                <td style="width: 15%" class="text-center">
                    <a class="btn btn-info" th:href="@{updateNote/{id}(id=${notes.id})}"role="button">Modifier</a>
                    <a class="btn btn-danger" th:href="@{deleteNote/{id}(id=${notes.id})}"role="button">Supprimer</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
  $("#search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).find('td:eq(2)').text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</body>
</html>